@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;700;900&display=swap');


body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 24px;
    display: flex;
    justify-content: space-around;
}

.logo {
    font-size: 28px;
    font-weight: 900;
}

.header-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

.header-links > li > a {
    text-decoration: none;
    color: #e5e7eb;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero-container {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 90px 0;
    gap: 48px;
}

.hero-text {
    max-width: 450px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 12px;
}

.hero-text > button {
    font-size: 16px;
    font-weight: 700;
    padding: 8px 32px;
    border: none;
    border-radius: 10px;
    background-color: #3882F6;
    color: #e5e7eb;
}

.hero-image > img{
    max-width: 400px;
}

.cards-information {
    text-align: center;
    margin: 36px 36px 150px;
}

.cards-heading {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 36px;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.card{
    max-width: 350px;
}

.card img{
    border-radius: 16px;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.quote-container {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 64px;
}

.quote-one, .quote-two {
    max-width: 500px;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.quote-one {
    text-align: right;
}

.quote-attribute {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

.sign-up-container {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box {
    flex: 1;
    border-radius: 10px;
    max-width: 900px;
    padding: 50px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
}

.sign-up-content {
    color: #F9FAF8;
}

.sign-up-content-header {
    font-size: 26px;
    font-weight: 700;
}

.sign-up-content-slogan {
    font-size: 18px;
    font-weight: 300;
}

.sign-up-button {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    color: #F9FAF8;
    padding: 0 32px;
}

.footer {
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}